.wrapper {
    flex: 1 1 auto;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: rgba(0,0,0, .7);
    z-index: 1;
}

.header .container {
    justify-content: space-between;
}


.container {
    display: flex;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
    width: 100%;
}

@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
    .header-nav__list-item {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width:992px) {
    .container{
        max-width: 750px;
    }
}
@media (max-width:767px) {
    .container{
        max-width: none;
    }
    h1 {
        font-size: calc(10px + 35 * ((100vw - 320px) /1280));

    }
}
.header-logo {
    color: white;
}

.header-logo__img {
    max-width: 50px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav__list {
    display: flex;
}


.header-nav__list-item {
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
}

.header-nav__list-item:hover {

}



.header-nav__list-link {
    text-decoration: none;
    background-image: linear-gradient(currentColor, gray);
    background-position: 0 100%;
    color: white;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
    font-size: calc(8px + 12 * (100vw /1280));
}


.header-nav__list-link:hover {
    background-size: 100% 2px;
}

.page {
}

.slider {
    position: relative;
}

.slider .slick-arrow {
    position: absolute;
    margin-right: 30px;
    margin-left: 30px;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 60px;
    height: 60px;
    border: none;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 20%;
    transition-duration: 500ms;
}

.slider .slick-arrow:hover {
    transition-duration: 500ms;
    opacity: 100%;
}

.slider .slick-arrow.slick-prev  {
    left: 0;
    background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%3E%3Cpath d='M2270.4,5114c-390-49-756-183-1085-399c-630-414-1048-1084-1140-1826c-20-163-20-478,0-640c48-385,182-754,392-1075 c417-638,1085-1057,1833-1150c145-17,471-20,605-4c602,70,1131,330,1550,760c134,137,220,244,318,394c216,332,355,723,398,1122 c18,171,7,546-21,702c-78,440-261,844-537,1186c-97,120-296,316-413,407c-370,286-793,463-1255,523 C2771.4,5132,2422.4,5132,2270.4,5114z M2980.4,3769c3,0,76-71,163-157l157-158l-492-492l-493-493l453-453l452-452l-160-160 l-160-160l-613,613l-612,612l650,650C2682.4,3476,2977.4,3769,2980.4,3769z'/%3E%3C/g%3E%3C/svg%3E") 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url("/img/arrow-right.svg") 0 0 / 100% no-repeat;

}

/* Точки (булиты) */
.slider .slick-dots{
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 15px;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}
.slider .slick-dots li{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 10px;

}
/* Элемент точки */
.slider .slick-dots li button{
    font-size: 0;
    width: 14px;
    height: 14px;
    background-color: white;
    opacity: 50%;
    border-radius: 50%;
    border: none;
    cursor: pointer;

}
.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
    opacity: 100%;
}

.slider-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    top: 0;
    left: 0;
}

.slider-item__content {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 100%;
    z-index: 1;
}

.slider-text__name {
    font-weight: 600;
    color: white;
    font-size: calc(14px + 35 * (100vw /1280));
}

.slider-text__info {
    /*font-size: 24px;*/
    font-weight: 500;
    color: white;
    font-size: calc(12px + 12 * (100vw /1280));
}

.slider-text__info-name {
    padding-top: 25px;
    font-size: calc(12px + 12 * (100vw /1280));
    color: white;
}

.slider-item__img {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slider-item__img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.slider-form {
    position: relative;
    padding-top: 80px;
}

.slider-form__button {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    min-width: 120px;
    min-height: 20px;
    border: 2px solid #ffffff;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    outline: none;
    background-position: center center;
    background-color: transparent ;
    font-size: calc(8px + 12 * (100vw /1280));
    color: #fff;
    cursor: pointer;
}

.slider-form__button:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: rgba(255,255,255, .9);
    z-index: -1;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
}

.slider-form__button:hover {
    border: 2px solid transparent;
    color: rgba(0,0,0, .9);
}

.slider-form__button:hover:after {
    width: 110%;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.footer {
    background-color: green;
}